body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: #edf0f5;
}

.container {
    width: 420px;
    margin: 80px auto;
    background: rgb(144, 69, 229);
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    text-align: center;
}

h2 {
    margin-bottom: 18px;
    color: #333;
}

select {
    padding: 12px;
    width: 85%;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #9730bc;
    margin-bottom: 22px;
}

.image-box img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
    border-radius: 8px;
    display: none;
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
}