
body {
    margin: 0;
    padding: 0;
    background: #1c1f26;
    font-family: Arial, sans-serif;
    height: 2000px; 
}


.chatbox {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 330px;
    background: #2b2f38;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.7);
    overflow: hidden;
}

.chat-header {
    background: #6c5ce7;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
}


.chat-body {
    height: 260px;
    overflow-y: auto;
    padding: 12px;
    color: #eeeeee;
}


.message {
    max-width: 75%;
    padding: 10px 14px;
    margin-bottom: 10px;
    background: #4b4f5c;
    color: white;
    border-radius: 14px 14px 14px 4px;
    font-size: 14px;
    animation: fadeIn 0.2s ease;
}


.chat-input-area {
    display: flex;
    border-top: 1px solid #444;
}

.chat-input-area input {
    flex: 1;
    padding: 12px;
    background: #1e2127;
    border: none;
    color: white;
    font-size: 14px;
    outline: none;
}

.chat-input-area button {
    padding: 0 16px;
    background: #6c5ce7;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.chat-input-area button:hover {
    background: #594bc4;
}

/* Animasi bubble */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(4px); }
    to { opacity: 1; transform: translateY(0); }
}